

<div class="col-sm-8 blog-main">
  
  <%# rails is looks for a partial named 'blog'. 
  the instance vairable has to be passed in from the index action.
  the partial will render a collection without an each action.
  rail is looking for the model controller name, which in this case is blogs %>

  <h1><%= @topic.title %></h1>

  <%= paginate @blogs %>
  <%= render @blogs %> 
  <%= paginate @blogs %>

</div>

<%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>