    <div class="card">
        <p><%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil?%></p> <%#run if portfolio_item.thumb_image is not nil%>
        <%#don't actually need the id, this will work fine passing in portfolio_item%>
        <p class="card-text"><span><%= link_to portfolio_item.title,  portfolio_show_path(portfolio_item.id)%></span><%= portfolio_item.subtitle %></p>
    </div>
    
    <%# this file has to be named portfolio_item in order for the code below to work. 
    this is a partial for manual collection. %>
    
     <%#= link_to "Edit", edit_portfolio_path(portfolio_item) if logged_in?(:site_admin) %>
    <%# <a href="portfolios/<%=portfolio_item.id%>  <%#remove here  /edit">Edit with an href</a> works the same as above%> 
    <%# <%= link_to "Delete", portfolio_path(portfolio_item), method: :delete, data: {confirm: "Are you sure?"} if logged_in?(:site_admin) %> <%#the reason this works is because method: :delete, otherwise rails doesnt know this is a delete and will redirect to the show page%>
