    <div class="<%= location %>"> 
    <%# location is a local variable. We will be passing location into application.html.erb in the render "shared/nav" section%>
      <div><%= link_to "Home", root_path %></div>
      <div><%= link_to "About", about_me_path %></div>
      <div><%= link_to "Contact", contact_path %></div>
      <div><%= link_to "Blogs", blogs_path %></div>
      <div><%= link_to "Portfolio", portfolios_path %></div>
    </div>