<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name = "keywords" content="<%=@seo_keywords%>"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <%# div id="background"></div> this was for the background image%>
          <%= video_tag('HardDrivePhotojpeg.mp4', 
          id: 'background',
          autoplay: true,
          loop: true, 
          muted: true, 
          poster: 'home_bg.png'
          ) %>
          <%# passing in location from shared/nav %>
          <%= render "shared/application_nav"%>
          <%#= login_helper 'nav-link'%>
          <%# yield is where the pages slide in and change %>
          <%= yield %>
          <%= render "shared/application_footer"%>
          <%#= render "shared/alerts" %> <%# refactored to just call the alerts method%>
          <%= alerts %>

        </div>
      </div>
    </div>
  </body>
</html>


