<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name = "keywords" content="<%=@seo_keywords%>"/>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# start of navbar %>
    <%= render 'shared/portfolio_nav' %>
    <%#  end of navbar %>

    <%#  start of masthead this will hide the portfolio masthead from the site admin%>
    <%= render 'shared/portfolio_masthead' unless logged_in?(:site_admin)%>
    <%#  end of masthead %>
    <%#  start of footer %>

    <%#  end of footer %>
    <%#= login_helper 'nav-link'%>

    <%# yield is where the pages slide in and change %>
    <%= yield %>
    <%= render 'shared/portfolio_footer'%>
    <%= alerts %>
    <%#= source_helper("application")%>
  </body>
</html>