<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name = "keywords" content="<%=@seo_keywords%>"/>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# start of navbar %>
    <%= render 'shared/portfolio_nav' %>
    <%#  end of navbar %>

    <%#  start of masthead %>
    <%= render 'shared/portfolio_masthead'%>
    <%#  end of masthead %>
    <%#  start of footer %>

    <%#  start of footer %>
    <%= login_helper 'nav-link'%>

    <%# yield is where the pages slide in and change %>
    <%= yield %>
    <%= source_helper("application")%>
        <%= render 'shared/portfolio_footer'%>
  </body>
</html>